/* Css for code to have transition color when hovered */
.code {
    color: #FFFF;
    transition: color 0.3s ease-out;
  }
  
  .title:hover .code {
    color: #df4759;
  }
/* End for transition hover */



/* For Dropdown item to have background when clicked */
.dropdown-item:active {
    background-color: #df4759;
}


.footer {
  background-color: #df4759;
}